body {
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	line-height: 26px;
	color: #7581a1;
}

a {
	text-decoration: none;
}

h1 {
	font-size: 80px;
	font-weight: 600;
	color: #192b59;
	line-height: 90px;
	max-width: 520px;
	letter-spacing: -2.4px;
	margin-bottom: 42px;
}

.page-stat {
	background-color: #edf6ff;
	padding-top: 120px;
	padding-bottom: 120px;
}

.page-stat .title-h2 {
	color: #192b59;
	font-size: 50px;
	font-weight: 600;
	line-height: 60px;
	letter-spacing: -1.5px;
	text-align: center;
	max-width: 410px;
	margin: 0 auto;
	margin-bottom: 79px; 
}

.page-stat .title-h2>span {
	display: block;
	color: #1085e4;
	font-size: 16px;
	font-weight: 800;
	line-height: 60px;
	text-transform: uppercase;
	letter-spacing: 3.2px;
}

.page-team .title-h2 {
	color: #ffffff;
	font-size: 40px;
	font-weight: 400;
	line-height: 50px;
	letter-spacing: -1.2px;
	text-align: center;
	background-color: #1a88e1;
}

.page-team .title-h2>span {
	color: #85c8ff;
	font-size: 18px;
	font-weight: 400;
	line-height: 90px;
	text-transform: uppercase;
	letter-spacing: 3.6px;
	display: block;
}

.page-screen {
	background-color: #edf6ff;
	padding-top: 120px;
}

.page-screen h2{
	max-width: 432px;
	color: #192b59;
	font-size: 40px;
	font-weight: 600;
	letter-spacing: -1.2px;
	text-align: center;
	margin: 0 auto;
	margin-bottom: 79px;
}

.page-screen h2 span {
	display: block;
	margin-bottom: 30px;
	color: #1085e4;
	font-size: 18px;
	font-weight: 800;
	text-transform: uppercase;
	letter-spacing: 3.6px;
}

.page-screen img {
	display: block;
	margin: 0 auto;
	max-width: 100%;
}

.page-plan {
	padding-bottom: 120px;
}

.page-plan .wrap h2 {
	max-width: 231px;
	color: #192b59;
	font-size: 40px;
	font-weight: 600;
	letter-spacing: -1.2px;
	text-align: center;
	margin: 0 auto;
	margin-bottom: 81px;
}

.page-plan .wrap h2 span {
	display: block;
	color: #1085e4;
	font-size: 18px;
	font-weight: 800;
	text-transform: uppercase;
	letter-spacing: 3.6px;
	margin-bottom: 30px;
}

.page-plan .wrap .box-price {
	display: flex;
	justify-content: center;
	text-align: center;
}

.page-plan .wrap .box-price .box-price-item {
	background-color: #f5faff;
	margin-left: 30px;
	width: 350px;
	padding-bottom: 80px;
}

.page-plan .wrap .box-price .box-price-item:nth-child(1) h3{
	color: #000958;
	font-size: 70px;
	letter-spacing: -2.1px;
	margin-top: 79px;
	margin-bottom: 40px;
}

.page-plan .wrap .box-price .box-price-item:nth-child(1) p>strong{
	display: block;
	color: #0084ff;
	font-size: 14px;
	letter-spacing: 2.8px;
	font-weight: 700;
	text-transform: uppercase;
	margin-bottom: 49px;
}

.page-plan .wrap .box-price .box-price-item:nth-child(3) h3{
	color: #192b59;
	font-size: 70px;
	letter-spacing: -2.1px;
	margin-top: 79px;
	margin-bottom: 21px;
}

.page-plan .wrap .box-price .box-price-item:nth-child(3) h3 span {
	color: #192b59;
	font-size: 20px;
	letter-spacing: -0.6px;
}

.page-plan .wrap .box-price .box-price-item:nth-child(3) h3 span + span {
	color: #7b8ab2;
	font-size: 20px;
	letter-spacing: -0.6px;
}

.page-plan .wrap .box-price .box-price-item:nth-child(3) p>strong {
	display: block;
	color: #0084ff;
	font-size: 14px;
	font-weight: 700;
	letter-spacing: 2.8px;
	text-transform: uppercase;
	margin-bottom: 49px;
}

.page-plan .wrap .box-price .active {
	background-color: #192b59;
}

.page-plan .wrap .box-price .active h3 {
	color: #fff;
	font-size: 70px;
	letter-spacing: -2.1px;
	margin-top: 79px;
	margin-bottom: 21px;
}

.page-plan .wrap .box-price .active h3 span {
	color: #fff;
	font-size: 20px;
	letter-spacing: -0.6px;
}

.page-plan .wrap .box-price .active h3 span + span {
	color: #7b8ab2;
	font-size: 20px;
	letter-spacing: -0.6px;
}

.page-plan .wrap .box-price .active p>strong {
	display: block;
	color: #fff;
	font-size: 14px;
	font-weight: 700;
	letter-spacing: 2.8px;
	text-transform: uppercase;
	margin-bottom: 49px;
}

.page-plan .wrap .box-price .box-price-item ul {
	list-style: none;
	padding: 0;
	margin-bottom: 49px;
}

.page-plan .wrap .box-price .box-price-item ul li {
	padding-bottom: 20px;
}

.page-plan .wrap .box-price .active ul li {
	color: #fff;
	padding-bottom: 20px;
}

.page-header {
	padding-top: 40px;
}

.logo-url {
	vertical-align: middle;
}

.nav {
	font-size: 12px;
	font-weight: 700;
	text-transform: uppercase;
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	align-items: baseline;
}

.nav>li {
	padding: 0 15px;
}

.nav-item {
	color: #6e7ea9;
}

.btn-group a + a {
	margin-left: 20px;
}

.btn-primary {
	color: #fff;
	font-size: 12px;
	font-weight: 700;
	text-transform: uppercase;
	padding: 21.5px 41px;
	letter-spacing: 2.4px;
	background-color: #1085e4;
	border-radius: 30px;
	line-height: 90px;
}

.btn-sub {
	color: #ffffff;
	font-size: 14px;
	font-weight: 700;
	line-height: 28px;
	text-transform: uppercase;
	letter-spacing: 2.8px;
	border-radius: 25px;
	background-color: #1085e4;	
	padding: 11px 44.7px;
	text-decoration: none;
	border: 0;
}

.btn-submit {
	color: #ffffff;
	font-size: 12px;
	text-transform: uppercase;
	letter-spacing: 2.4px;
	font-weight: 700;
	border-radius: 30px;
	background-color: #1085e4;
	border: 0;
	padding: 23.5px 63px;
}

.btn-free {
	font-weight: 400;
	padding: 20px 50px;
	letter-spacing: 2.4px;
	line-height: 90px;
	padding: 19.5px 50.4px;
	border: 2px solid #1085e4;
}

.btn-free:hover {
	transition: all 0.5s ease;
	color: #1085e4;
	background-color: #fff;
}

.btn-secondary {
	color: #7e8bae;
	font-size: 12px;
	font-weight: 700;
	text-transform: uppercase;
	padding: 21.5px 40.5px;
	letter-spacing: 2.4px;
	background-color: #cbdbe8;
	border-radius: 30px;
}

.btn-plan {
	color: #8085b1;
	font-size: 12px;
	font-weight: 700;
	line-height: 30px;
	text-transform: uppercase;
	letter-spacing: 2.4px;
	border-radius: 30px;
	border: 2px solid rgba(0, 0, 0, 0.1);
	background-color: #f5faff;
	padding: 19.5px 61.4px;
}

.active .btn-plan {
	color: #ffffff;
	font-size: 12px;
	font-weight: 700;
	line-height: 30px;
	text-transform: uppercase;
	letter-spacing: 2.4px;
	border-radius: 30px;
	background-color: #1a88e1;
	border: 0;
	padding: 21.5px 63.4px;
}

.grid h2 {
	font-size: 40px;
	color: #192b59;
	font-weight: 700;
}

.grid h2 span {
	color: #1085e4;
	font-weight: 800;
	font-size: 14px;
	text-transform: uppercase;
	display: block;
}

.grid-item h3 {
	font-size: 20px;
	font-weight: 600;
	color: #192b59;
}

.grid-item a {
	font-size: 14px;
	color: #1085e4;
}

.btn-learn-more {
	color: #ffffff;
	font-size: 12px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 2.4px;
	border-radius: 30px;
	background-color: #1085e4;
	padding: 21.5px 64px;
}

.btn-gsn {
	color: #ffffff;
	font-size: 12px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 2.4px;
	border-radius: 30px;
	background-color: #1085e4;
	padding: 21.5px 41px;
}

.list-stat {
	display: flex;
	list-style: none;
	justify-content: space-around	;
}

.list-stat li {
	letter-spacing: 2.4px;
	color: #1085e4;
	font-size: 12px;
	font-weight: 700;
	line-height: 30px;
	text-transform: uppercase;
	text-align: center;
}

.list-stat li span {
	display: block;
	padding-bottom: 20px;
	color: #bacbdc;
	font-size: 60px;
	font-weight: 700;
	line-height: 30px;
	letter-spacing: -1.8px;
}

.wrap {
	max-width: 1110px;
	margin: 0 auto;
}
