body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 26px;
    color: #7581a1;
}

a {
    text-decoration: none;
}

h1 {
    font-size: 80px;
    font-weight: 600;
    color: #192b59;
    line-height: 90px;
    max-width: 520px;
    letter-spacing: -2.4px;
    margin-bottom: 42px;
}

ul {
    list-style: none;
}

.wrap {
    max-width: 1110px;
    margin: 0 auto;
}

.header-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 40px;
    margin-bottom: 312px;
}

.page-company {
    background-image: url(../img/block-2-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 112px;
    padding-bottom: 112px;
}

.page-company ul li {
    display: inline-block;
    padding-left: 103px;
}

.page-header {
    background-image: url(../img/header-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 312px;
    position: relative;
}

.screen-img {
    display: block;
    background-image: url(../img/header-screen.png);
    background-repeat: no-repeat;
    width: 895px;
    height: 740px;
    position: absolute;
    top: 192px;
    right: 0;
}

.page-stat {
    background-color: #edf6ff;
    padding-top: 120px;
    padding-bottom: 120px;
}

.page-stat .title-h2 {
    color: #192b59;
    font-size: 50px;
    font-weight: 600;
    line-height: 60px;
    letter-spacing: -1.5px;
    text-align: center;
    max-width: 410px;
    margin: 0 auto;
    margin-bottom: 79px;
}

.page-stat .title-h2>span {
    display: block;
    color: #1085e4;
    font-size: 16px;
    font-weight: 800;
    line-height: 60px;
    text-transform: uppercase;
    letter-spacing: 3.2px;
}

.page-team .title-h2 {
    color: #ffffff;
    font-size: 40px;
    font-weight: 400;
    line-height: 50px;
    letter-spacing: -1.2px;
    text-align: center;
    background-color: #1a88e1;
}

.page-team .title-h2>span {
    color: #85c8ff;
    font-size: 18px;
    font-weight: 400;
    line-height: 90px;
    text-transform: uppercase;
    letter-spacing: 3.6px;
    display: block;
}

.page-screen {
    background-color: #edf6ff;
    padding-top: 120px;
}

.page-screen h2 {
    max-width: 432px;
    color: #192b59;
    font-size: 40px;
    font-weight: 600;
    letter-spacing: -1.2px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 79px;
}

.page-screen h2 span {
    display: block;
    margin-bottom: 30px;
    color: #1085e4;
    font-size: 18px;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 3.6px;
}

.page-screen img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
}

.page-plan {
    padding-bottom: 120px;
}

.page-plan .wrap h2 {
    max-width: 231px;
    color: #192b59;
    font-size: 40px;
    font-weight: 600;
    letter-spacing: -1.2px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 81px;
}

.page-plan .wrap h2 span {
    display: block;
    color: #1085e4;
    font-size: 18px;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 3.6px;
    margin-bottom: 30px;
}

.page-plan .wrap .box-price {
    display: flex;
    justify-content: center;
    text-align: center;
}

.page-plan .wrap .box-price .box-price-item {
    background-color: #f5faff;
    margin-left: 30px;
    width: 350px;
    padding-bottom: 80px;
    flex-basis: 32%;
}

.page-plan .wrap .box-price .box-price-item:nth-child(1) h3 {
    color: #000958;
    font-size: 70px;
    letter-spacing: -2.1px;
    margin-top: 79px;
    margin-bottom: 40px;
}

.page-plan .wrap .box-price .box-price-item:nth-child(1) p>strong {
    display: block;
    color: #0084ff;
    font-size: 14px;
    letter-spacing: 2.8px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 49px;
}

.page-plan .wrap .box-price .box-price-item:nth-child(3) h3 {
    color: #192b59;
    font-size: 70px;
    letter-spacing: -2.1px;
    margin-top: 79px;
    margin-bottom: 21px;
}

.page-plan .wrap .box-price .box-price-item:nth-child(3) h3 span {
    color: #192b59;
    font-size: 20px;
    letter-spacing: -0.6px;
}

.page-plan .wrap .box-price .box-price-item:nth-child(3) h3 span+span {
    color: #7b8ab2;
    font-size: 20px;
    letter-spacing: -0.6px;
}

.page-plan .wrap .box-price .box-price-item:nth-child(3) p>strong {
    display: block;
    color: #0084ff;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 2.8px;
    text-transform: uppercase;
    margin-bottom: 49px;
}

.page-plan .wrap .box-price .active {
    background-color: #192b59;
}

.page-plan .wrap .box-price .active h3 {
    color: #fff;
    font-size: 70px;
    letter-spacing: -2.1px;
    margin-top: 79px;
    margin-bottom: 21px;
}

.page-plan .wrap .box-price .active h3 span {
    color: #fff;
    font-size: 20px;
    letter-spacing: -0.6px;
}

.page-plan .wrap .box-price .active h3 span+span {
    color: #7b8ab2;
    font-size: 20px;
    letter-spacing: -0.6px;
}

.page-plan .wrap .box-price .active p>strong {
    display: block;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 2.8px;
    text-transform: uppercase;
    margin-bottom: 49px;
}

.page-plan .wrap .box-price .box-price-item ul {
    list-style: none;
    padding: 0;
    margin-bottom: 49px;
}

.page-plan .wrap .box-price .box-price-item ul li {
    padding-bottom: 20px;
}

.page-plan .wrap .box-price .active ul li {
    color: #fff;
    padding-bottom: 20px;
}

.nav {
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: baseline;
    letter-spacing: 2.4px;
}

.nav>li {
    padding: 0 20px;
}

.nav-item {
    color: #6e7ea9;
}

.btn-group a+a {
    margin-left: 20px;
}

.btn-primary {
    color: #fff;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 21.5px 41px;
    letter-spacing: 2.4px;
    background-color: #1085e4;
    border-radius: 30px;
}

.btn-sub {
    color: #ffffff;
    font-size: 14px;
    font-weight: 700;
    line-height: 28px;
    text-transform: uppercase;
    letter-spacing: 2.8px;
    border-radius: 25px;
    background-color: #1085e4;
    padding: 11px 44.7px;
    border: 2px solid #1085e4;
    text-decoration: none;
    border: 0;
    margin-right: 8px;
}

.btn-sub:hover {
    transition: all 0.5s ease;
    background-color: #fff;
    color: #1085e4;
}

.btn-submit {
    color: #ffffff;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2.4px;
    font-weight: 700;
    border-radius: 30px;
    background-color: #1085e4;
    border: 0;
    padding: 23.5px 63px;
}

.btn-free {
    font-weight: 400;
    letter-spacing: 2.4px;
    display: inline-block;
    border: 2px solid #1085e4;
    padding: 15px 50.4px;
}

.btn-free:hover {
    transition: all 0.5s ease;
    color: #1085e4;
    background-color: #fff;
}

.btn-secondary {
    color: #7e8bae;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 21.5px 40.5px;
    letter-spacing: 2.4px;
    background-color: #cbdbe8;
    border-radius: 30px;
}

.btn-plan {
    color: #8085b1;
    font-size: 12px;
    font-weight: 700;
    line-height: 30px;
    text-transform: uppercase;
    letter-spacing: 2.4px;
    border-radius: 30px;
    border: 2px solid rgba(0, 0, 0, 0.1);
    background-color: #f5faff;
    padding: 13px 61.4px;
    display: inline-block;

}

.active .btn-plan {
    color: #ffffff;
    font-size: 12px;
    font-weight: 700;
    line-height: 30px;
    text-transform: uppercase;
    letter-spacing: 2.4px;
    border-radius: 30px;
    background-color: #1a88e1;
    border: 0;
    padding: 13px 61.4px;
}

.page-grid {
    padding-top: 122px;
    padding-bottom: 120px;
}

.grid {
    display: grid;
    grid-template-areas: "a b c"
        "d b c"
        "d f g"
        "e f g"
        "e h h";
    max-width: 1136px;
    margin: 0 auto;
}

.grid-title {
    grid-area: a;
}

.grid-item-1 {
    grid-area: b;
}

.grid-item-2 {
    grid-area: c;
}

.grid-item-3 {
    grid-area: d;
}

.grid-item-4 {
    grid-area: e;
}

.grid-item-5 {
    grid-area: f;
}

.grid-item-6 {
    grid-area: g;
}

.grid-text {
    grid-area: h;
}

.grid h2 {
    font-size: 40px;
    color: #192b59;
    font-weight: 700;
    line-height: 50px;
    letter-spacing: -1.2px;
    margin-bottom: 0;
}

.grid h2 span {
    color: #1085e4;
    font-weight: 800;
    font-size: 14px;
    text-transform: uppercase;
    display: block;
    letter-spacing: 2.8px;
}

.grid-item {
    text-align: center;
    box-shadow: 0 8px 16px rgba(180, 181, 181, 0.2);
    margin-top: 30px;
    margin-left: 30px;
    padding-top: 48px;
    padding-bottom: 69px;
    padding-right: 51px;
    padding-left: 51px;
}

.grid-item-3 {
    margin-left: 0;
    padding-right: 51px;
    padding-left: 51px;
}

.grid-item-4 {
    margin-left: 0;
}

.grid-item h3 {
    font-size: 20px;
    font-weight: 600;
    color: #192b59;
    margin: 25px;
}

.grid-item p {
    margin-bottom: 27px;
}

.grid-item a {
    font-size: 14px;
    color: #1085e4;
}

.grid-icon {
    background-repeat: no-repeat;
    display: block;
    margin: 0 auto 36px;
}

.grid-icon-1 {
    background-image: url(../img/block-3-item2.png);
    width: 73px;
    height: 79px;
}

.grid-icon-2 {
    background-image: url(../img/block-3-item3.png);
    width: 89px;
    height: 85px;
}

.grid-icon-3 {
    background-image: url(../img/block-3-item1.png);
    width: 79px;
    height: 82px;
}

.grid-icon-4 {
    background-image: url(../img/block-3-item4.png);
    width: 103px;
    height: 92px;
}

.grid-icon-5 {
    background-image: url(../img/block-3-item5.png);
    width: 85px;
    height: 90px;
}

.grid-icon-6 {
    background-image: url(../img/block-3-item6.png);
    width: 100px;
    height: 87px;
}

.grid-text {
    margin-top: 49px;
    margin-left: 50px;
}

.grid-text p+p {
    color: #1085e4;
    font-size: 14px;
    font-weight: 400;
}

.grid-text p+p>span {
    color: #192b59;
    font-size: 16px;
    font-weight: 700;
}

.btn-learn-more {
    color: #ffffff;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2.4px;
    border-radius: 30px;
    background-color: #1085e4;
    padding: 21.5px 64px;
}

.btn-gsn {
    color: #ffffff;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2.4px;
    border-radius: 30px;
    background-color: #1085e4;
    padding: 21.5px 41px;
}

.list-stat {
    display: flex;
    list-style: none;
    justify-content: space-around;
}

.list-stat li {
    letter-spacing: 2.4px;
    color: #1085e4;
    font-size: 12px;
    font-weight: 700;
    line-height: 30px;
    text-transform: uppercase;
    text-align: center;
}

.list-stat li span {
    display: block;
    padding-bottom: 20px;
    color: #bacbdc;
    font-size: 60px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: -1.8px;
}

.page-subscribe {
    height: 521px;
    background-color: #12224b;
    background-image: linear-gradient(-240deg, #0a2090 0%, #2377cd 100%);
    display: flex;

}

.page-subscribe .wrap {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.page-subscribe .wrap img {
    display: block;
    margin-left: 119px;
}

.subscribe-box {
    padding-top: 119px;
    height: 417px;
}

.subscribe-box h2 {
    color: #ffffff;
    font-size: 50px;
    font-weight: 400;
    letter-spacing: -1.5px;
    margin-top: 0;
    margin-bottom: 42px;
}

.subscribe-box h2 span {
    display: block;
    color: #00bffe;
    font-size: 14px;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 2.8px;
    margin-bottom: 32px;
}

.subscribe-box p {
    color: #dae3fd;
    font-size: 18px;
    font-weight: 300;
    width: 404px;
    margin-bottom: 44px;
}

.enter-box input[type="email"] {
    background-color: black;
    border: 0;
    color: #b1c3ee;
    font-size: 14px;
    font-weight: 400;
    background-color: rgba(0, 0, 0, 0.0);
    margin-left: 39px;
    width: 200px;
    height: 25px;
}

.enter-box input[type="email"]:active,
:hover,
:focus {
    outline: 0;
    outline-offset: 0;
}

.enter-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 64px;
    width: 540px;
    border-radius: 35px;
    border: 2px solid rgba(255, 255, 255, 0.2);
}